    .titulo {
        font-size: 25px;
        color:white;
        text-align: center;
    }

    body{
        font-style: normal;
        width: 600px;
        height: 600px;
        overflow: hidden;
        margin:auto;
    }

    div{
        overflow: hidden;
        background-color: gray;
        
        
    }

    p{
        color: white;
    }

